

.navbar{
    background: hsl(0deg 0% 0% / 25%);
}

.logout {
    cursor: pointer;
    color: rgb(20, 19, 19)!important;
    display: none;
    top: 50px;
    
    position: fixed;
}
.logP06:hover .logout{
    display: block;
    transition: 2s;
}
ul {
    list-style: none;
}

.nav-hover{
    border-radius: 5px;
    margin-top:20px;
    padding:10px;
    /* background:rgb(250, 249, 250); */
    background: black;
   

}


.nav-hover-item:hover{
    color:red!important;
}